extends layouts/default
include helpers/mixins

//- block noscript
//-   //- No Script block
//-   include blocks/noscript

block variables
  - const title = "Путешественники - HTML Academy: Погнали"
  - const pageCaption = "Попутчики"
  - let pageHeader = true
  - let indexLink = true
  - let backToHome = true

block content

  //- Шапка сайта
  include blocks/header

  main.site-content

      //- Заголовок страницы
      include blocks/page-title

      //- Фильтр по странам
      include blocks/catalog/1_country-filter

      section.companions-content
        h5.visually-hidden Контент страницы попутчиков
        .wrapper.companions-content__wrapper

          //- Фильтр попутчиков
          include blocks/catalog/3_companions-filter

          //- Карточки с попутчиками
          include blocks/catalog/2_companions-cards

          //- Пагинация
          //- include blocks/catalog/4_companions-pagination

  //- Футер сайта
  include blocks/footer


block scripts
  script(src="js/main.js")
  //- script(src="js/picturefill.min.js" async)
  //- script.
  //-   document.createElement( "picture" );
