extends layouts/default
include helpers/mixins

//- block noscript
//-   //- No Script block
//-   include blocks/noscript

block variables
  - const title = "Форма - HTML Academy: Погнали"
  - const pageCaption = "Направления"
  - let pageHeader = true
  - let indexLink = true
  - let backToHome = false

block content

  //- Шапка сайта
  include blocks/header

  main.site-content

    //- Заголовок страницы
    include blocks/page-title

    //- Профиль
    include blocks/form/1_companion-profile

    //- Мои планы
    include blocks/form/2_companion-plans

    //- Форма добавления плана
    include blocks/form/3_companion-steps

  //- Футер сайта
  include blocks/footer


block scripts
  script(src="js/main.js")
  //- script(src="js/picturefill.min.js" async)
  //- script.
  //-   document.createElement( "picture" );

