extends layouts/default
include helpers/mixins

block variables
  - const title = "HTML Academy: Погнали"
  - let pageHeader = false
  - let indexLink = false

block content

  //- No Script block
  include blocks/noscript

  //- Шапка сайта
  include blocks/header

  main.site-content
    h1.visually-hidden Сервис по поиску попутчиков "Погнали"
    //- Слайдер
    include blocks/index/0_intro

    //- Сервис
    include blocks/index/1_service

    //- Направления
    include blocks/index/2_destinations

    //- Попутчики
    include blocks/index/3_companions

    //- Тарифы
    include blocks/index/4_tarrifs

    //- Регистрация / Авторизация
    include blocks/index/5_registration

    //- Маршрут
    include blocks/index/6_route

    //- Карта
    include blocks/index/7_map

  //- Футер сайта
  include blocks/footer.pug

  //- Всплывающее окно
  include blocks/index/popup.pug


block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=b6d18386-7e3b-46ab-8692-c187a9f22508&lang=ru_RU")
  script(src="js/main.js")
  //- script.
  //-   document.createElement( "picture" );


