.companions {
  position: relative;
  margin-top: -25px;
  padding-top: 94px;
  padding-bottom: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: $color-dark-blue-alt;
  z-index: 4;

  &::before {
    content: '';
    position: absolute;
    top: 65px;
    right: 25px;
    @include size(143px);
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 335px;
    left: -10px;
    @include size(71px);
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }
  }
}

.companions__caption {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: -31px;
    left: -68px;
    @include size(132px);
    border-radius: 20px;
    background-color: #141b3b;
    z-index: -1;
  }
}

.companions__content {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 57px;
  z-index: 1;
}

.companions__description {
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  z-index: 1;
}

.companions__tagline {
  font-weight: 700;
  color: #fff;

  br {
    display: none;
  }
}


.companions__cards {
  display: flex;
  flex-direction: column;

}

.companions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
}

.companions__card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.companions__card-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 18px;
  @include size(60px);
  border-radius: 50%;
  background-color: rgba(#000000, 0.5);
}

.companions__card-level-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35);

  circle {
    fill: none;
    stroke: #ff8d30;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dashoffset: 60;
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &--80 {

    circle {
      stroke-dasharray: 245;
    }
  }

  &--99 {

    circle {
      stroke-dasharray: 268;
    }
  }
}


.companions__card-level-number {
  border-bottom: 1px solid rgba(#ffffff, 0.3);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.companions__card-level-text {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}


.companions__card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7px;
  padding-right: 35px;
  padding-bottom: 14px;
  padding-left: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}


.companions__card-flags {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  @include reset-list;
}

.companions__card-flag {
  position: relative;
  @include hide-text;
  @include size(35px, 24px);
  background-repeat: no-repeat;
  background-size: cover;

  &:not(:last-child) {
    margin-right: 19px;
  }

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");
  }

  &:hover .companions__card-flag-tooltip {
    display: block;
  }
}

.companions__card-flag-tooltip {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -75px;
  z-index: 10;
  padding: 20px 23px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  background-color: #101d41;
  transform: translateX(-50%);
  border-radius: 4px;

  &::before {
    content: '';
    display: block;
    @include size(0);
    position: absolute;
    top: -20px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #101d41;
    transform: translateX(-50%);
  }
}


.companions__card-person {
  position: relative;
  display: inline-block;
  margin-top: 26px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: $color-dark-blue-slate;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.companions__card-person-status {
  position: absolute;
  top: 50%;
  left: -13px;
  @include size(5px);
  transform: translate(-50%, -50%);
  border-radius: 50%;

  &--offline {
    background-color: #f97676;
  }

  &--online {
    background-color: #81e31e;
  }
}


.companions__card-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 14px;

  a {
    margin-right: 3px;
    line-height: 20px;
    color: $color-grey;
    text-decoration: none;

    &:hover {
      color: lighten($color-grey, 30%);
    }

    &:active,
    &:focus {
      color: lighten($color-grey, 50%);
    }
  }
}

.companions__card-transports {
  display: flex;
  justify-content: center;
  align-items: center;
  @include reset-list;
  margin-top: 10px;
}

.companions__card-transport {
  position: relative;
  @include size(33px);
  @include hide-text;

  &::before {
    content: '';
    display: block;
    @include size(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.15;
  }

  &--plane {

    &::before {
      background-image: url("../img/plane.svg");
      background-size: 19px 21px;
    }
  }

  &--bus {

    &::before {
      background-image: url("../img/bus.svg");
      background-size: 17px 21px;
    }
  }

  &--bike {

    &::before {
      background-image: url("../img/bike.svg");
      background-size: 24px 21px;
    }
  }

  &--run {

    &::before {
      background-image: url("../img/run.svg");
      background-size: 20px 21px;
    }
  }

  &--available {

    &::before {
      opacity: 1;
    }
  }

  &:hover .companions__card-transport-tooltip {
    display: block;
  }
}

.companions__card-transport-tooltip {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -75px;
  z-index: 10;
  padding: 20px 23px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  background-color: #101d41;
  transform: translateX(-50%);
  border-radius: 4px;

  &::before {
    content: '';
    display: block;
    @include size(0);
    position: absolute;
    top: -20px;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #101d41;
    transform: translateX(-50%);
  }
}

.companions__btn {
  margin-top: 9px;
}


@media only screen and (min-width: $tablet-width) {
  .companions {
    margin-top: -60px;
    padding-top: 198px;
    padding-bottom: 89px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-size: 19%;
    background-position: 40px 485px;

    &::before {
      top: 485px;
      right: auto;
      left: 40px;
    }

    &::after {
      top: 140px;
      right: 75px;
      left: auto;
      @include size(285px);
      background-image: url("../img/rogovaya-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
      }
    }
  }

  .companions__wrapper {
    padding: 0 75px;
  }

  .companions__content {
    width: 70%;
    margin-bottom: 60px;
    padding: 0;
  }

  .companions__caption {
    margin-bottom: 57px;

    &::before {
      top: -60px;
      left: -35px;
      @include size(213px);
    }
  }

  .companions__description {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;
  }

  .companions__tagline {
    font-size: 21px;
    line-height: 25px;

    br {
      display: block;
    }
  }

  .companions__cards {
    flex-direction: row;
  }

  .companions__card {
    width: 50%;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  .companions__card-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .companions__card-level {
    top: 22px;
    left: 20px;
  }

  .companions__card-content {
    margin-top: -6px;
    padding-right: 33px;
    padding-bottom: 22px;
    padding-left: 33px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .companions__card-person {
    margin-top: 30px;
  }

  .companions__card-person-name {
    font-size: 24px;
  }

  .companions__card-person-status {
    left: -19px;
    @include size(7px);
  }

  .companions__card-tags {
    margin-top: 23px;

    a {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .companions__card-transports {
    margin-top: 20px;
  }

  .companions__btn {
    margin-top: 72px;
  }

}



@media only screen and (min-width: $desktop-width) {

  .companions {
    padding-top: 185px;
    padding-bottom: 125px;

    &::before {
      top: 192px;
      left: 780px;
    }

    &::after {
      top: auto;
      right: auto;
      left: 422px;
      bottom: 80px;
    }
  }

  .companions__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 128px;
  }

  .companions__caption {

    &::before {
      left: -68px;
    }
  }

  .companions__content {
    width: 35%;
  }

  .companions__description {
    position: relative;
    z-index: 1;
  }

  .companions__cards {
    margin-top: 8px;
  }


  .companions__card {
    width: 285px;


    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .companions__card-level {
    left: 23px;
  }

  .companions__card-flags {
    top: -13px;
  }

  .companions__btn {
    margin-top: -90px;
    margin-bottom: 10px;
  }
}
