.service {
  position: relative;
  padding-top: 30px;
  padding-bottom: 68px;
  background-color: $color-dark-blue-alt;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  z-index: 6;
}

.service__wrapper {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 17px;
    @include size(292px, 352px);
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-mobile@2x.png");
    }
  }
}

.service__content {
  padding-left: 25px;
  padding-right: 25px;
}

.service__caption {
  position: relative;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    top: -31px;
    left: -68px;
    @include size(132px);
    border-radius: 20px;
    background-color: #141b3b;
    z-index: -2;
  }
}

.service__description {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  z-index: 3;
}

.service__tagline {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  z-index: 3;

  br {
    display: none;
  }
}

.service__btn {
  display: none;
}


@media only screen and (min-width: $tablet-width) {

  .service {
    position: relative;
    padding-top: 63px;
    padding-bottom: 90px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: none;
  }

  .service__wrapper {
    padding-left: 50px;
    padding-right: 50px;

    &::after {
      top: 8px;
      right: 8px;
      left: auto;
      @include size(376px, 548px);
      background-image: url("../img/about-tablet@1x.png");
      z-index: 4;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/about-tablet@2x.png");
      }
    }
  }

  .service__caption {
    margin-bottom: 39px;

    &::before {
      top: -40px;
      left: -35px;
      @include size(688px, 213px);
    }
  }

  .service__content{
    width: 345px;
  }

  .service__description {
    font-size: 28px;
    line-height: 33px;

    br {
      display: none;
    }
  }

  .service__tagline {
    margin-top: 33px;
    font-size: 21px;
    line-height: 25px;
  }

  .service__btn {
    display: inline-flex;
    margin-top: 32px;

    &::after {
      margin-left: 80px;
    }
  }
}

@media only screen and (min-width: $desktop-width) {

  .service {
    padding: 0;
  }

  .service__wrapper {
    padding: 128px 105px 163px;
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 750px bottom;
    background-size: 630px 665px;

    &::after {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }

  }

  .service__caption {
    margin-bottom: 59px;

    &::before {
      @include size(213px);
      top: -57px;
      left: -68px;
    }
  }

  .service__content {
    width: 55%;
  }

  .service__tagline {
    margin-top: 39px;

    br {
      display: block;
    }
  }

  .service__btn {
    margin-top: 66px;
  }

}
