section.companion-plans
  .wrapper.companion-plans__wrapper

    h2.companion-plans__caption Мои планы:

    ol.companion-plans__list

      li.companion-plans__item
        .companion-plans__item-country
          p.companion-plans__number 1.
          h4.companion-plans__title Франция, Италия
        .companion-plans__item-info
          p.companion-plans__quantity 3 попутчика
          p.companion-plans__dates 26 мар — 29 мар
          button.companion-plans__edit-btn(type="button") Изменить

      li.companion-plans__item
        .companion-plans__item-country
          p.companion-plans__number 2.
          h4.companion-plans__title Тайланд, Индонезия
        .companion-plans__item-info
          p.companion-plans__quantity 1 попутчик
          p.companion-plans__dates 1 июл — 15 июл
          button.companion-plans__edit-btn(type="button") Изменить
