section.person-plans
  h2.person-plans__title Мои планы:
  ol.plans-form__list.plans-list
    li.plans-list__item
      b.plans-list__title Франция, Италия
      p.plans-list__companions-count 3 попутчика
      p.plans-list__date
        span.plans-list__date-from 26 мар
        span.plans-list__date-separator -
        span.plans-list__date-to 29 мар
      button.plans-list__edit-btn(type="button") Изменить
    li.plans-list__item
      b.plans-list__title Тайланд, Индонезия
      p.plans-list__companions-count 1 попутчик
      p.plans-list__date
        span.plans-list__date-from 1 июл
        span.plans-list__date-separator -
        span.plans-list__date-to 15 июл
      button.plans-list__edit-btn(type="button") Изменить
