section.step.step-entertaiment(id="route")
  header.add-plan__section-header
    h2.add-plan__section-title Шаг 3. Развлечения
    p.add-plan__section-description Наконец, расскажите о своих планах времяпровождения. Можно писать в свободной форме и ставить тэги.

    ul.add-plan__section-list
      li
        a(href="#dates") Даты
      li
        a(href="#route") Маршрут
      li.add-plan__section-list--active
        a(href="#entertaiment") Развлечения

  ul.step-entertaiment__textarea-list
    li.step-entertaiment__textarea
      strong.step-entertaiment__country-name Босния и Герцеговина
      span.step-entertaiment__flag.step-entertaiment__flag--bosnia Босния и Герцеговина
      textarea(name="country-description" placeholder="План действий")

    li.step-entertaiment__textarea
      strong.step-entertaiment__country-name Чехия
      span.step-entertaiment__flag.step-entertaiment__flag--czech Чехия
      textarea(name="country-description" placceholder="План действий") Пить пиво и лазить по старым замкам, наслаждаться архитектурой и вот это все.
