section.companion-add-plan__step.step-route(id="route")
  header.companion-add-plan__header.step-header
    div.step-header__content
      h2.step-header__title
        | Шаг 2.
        br
        | Маршрут
      p.step-header__description Укажите страны, которые вы хотели посетить. <br>Это может быть одна или сразу несколько.

    ul.step-header__navigation
      li.step-header__navigation-item.step-header__navigation-item--active
        a(href="") Даты
      li.step-header__navigation-item
        a(href="#route") Маршрут
      li.step-header__navigation-item
        a(href="#entertaiment") Развлечения

  section.step-route__countries
    h5.visually-hidden Выбор стран

    ul.step-route__country.step-route__country--selected
      li.step-route__country-name Босния и Герцеговина
        i.step-route__icon
        input(type="hidden" name="selected-county" value="Босния и Герцеговина")
      li.step-route__country-flag.step-route__country-flag--bosnia Босния и Герцеговина
      button.step-route__country-delete-btn(type="button") Удалить страну

    ul.step-route__country.step-route__country--selected
      li.step-route__country-name Чехия
        i.step-route__icon
        input(type="hidden" name="selected-county" value="Чехия")
      li.step-route__country-flag.step-route__country-flag--czech Чехия
      button.step-route__country-delete-btn(type="button") Удалить страну

    ul.step-route__country.step-route__country--new
      li.step-route__country-name.step-route__country-name--select Выберите страну
        i.step-route__icon
      button.step-route__country-delete-btn.step-route__country-delete-btn--dropdown(type="button") Удалить поле

      - const countryLetters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ч', 'Ш', 'Э', 'Ю', 'Я'];
      - const countryList = ['Австралия', 'Австрия', 'Азербайджан', 'Албания', 'Алжир', 'Ангола', 'Андорра', 'Антигуа и Барбуда', 'Аргентина', 'Армения', 'Афганистан'];

      div.step-route__dropdown.step-route__dropdown--hide
        ul.step-route__dropdown-letters
          each letter in countryLetters
            if letter === 'А'
              li.step-route__dropdown-letters-item
                a.step-route__dropdown-letters-link.step-route__dropdown-letters-link--active(href="#")= letter
            else
              li.step-route__dropdown-letters-item
                a.step-route__dropdown-letters-link(href="#")= letter

        ul.step-route__dropdown-countries
          each country in countryList
            li.step-route__dropdown-countries-item
              a.step-route__dropdown-countries-link(href="")= country


    button.step-route__add-county(type="button") Добавить страну
      i.step-route__icon.step-route__icon--add
  .companion-add-plan__buttons
    a.companion-add-plan__btn.companion-add-plan__btn--next(href="#entertaiment") Следующий шаг
    a.companion-add-plan__btn.companion-add-plan__btn--prev(href="#dates") На шаг назад

