form.add-plan__form(action="https://echo.htmlacademy.ru")
  //- Даты пребывания
  include 3.1_form-dates.pug

  //- Маршрут
  include 3.2_form_route.pug

  //- развлечения
  include 3.3_form_entertaiment.pug


  button.add-plan__btn.add-plan__btn--submit(type="submit") Отправить
  a.add-plan__btn.add-plan__btn--prev(href="#entertaiment") На шаг назад
