.intro {
  padding: 40px 0;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 46%;
  background-position: top;
  background-color: #192144;
  overflow: hidden;
}

.intro__wrapper {
  position: relative;
  z-index: 1;


  &::before {
    content: '';
    position: absolute;
    top: 135px;
    right: 50px;
    z-index: -1;
    @include size(192px, 255px);
    background-image: url("../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.intro__caption {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}

.intro__contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 246px;
  z-index: 5;
}

.intro__contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(40px);
  border-radius: 50%;
  @include hide-text;

  svg {
    @include size(18px);
  }

  &:nth-child(1) {
    background-color: $color-darkgold;
  }

  &:nth-child(2) {
    background-color: $color-gold;
  }

  &:nth-child(1):hover {
    background-color: #f26926;
  }

  &:nth-child(2):hover {
    background-color: $color-darkgold;
  }

  &:nth-child(1):focus,
  &:nth-child(1):active,
  &:nth-child(2):focus,
  &:nth-child(2):active {

    svg {
      opacity: 0.3;
    }
  }

}

.intro__contacts-btn {
  padding: 10px 40px;
  border-radius: 40px;
  font-weight: 700;
  background-color: $color-lightgold;
  color: $color-dark-blue;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $color-gold;
  }

  &:active,
  &:focus {
    color: rgba($color-dark-blue, 0.3);
  }
}


.intro__review {
  position: relative;
  margin-top: 27px;
  padding-left: 25px;
  font-size: 16px;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: -45px;
    left: -100%;
    right: -100%;
    bottom: 0;
    background-color: #192144;
    z-index: -1;
  }
}

.intro__review-text {}

.intro__review-author {
  font-weight: 700;
}

.intro__steps {
  display: flex;
  flex-direction: column;
  @include reset-list;
  margin-top: 47px;
  counter-reset: steps-list;
}

.intro__steps-item {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  padding-top: 19px;
  padding-right: 23px;
  padding-bottom: 25px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  border-radius: 10px;
  color: $color-dark-blue;

  &:after {
    counter-increment: steps-list;
    content: counter(steps-list);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  &:not(:last-child) {
    padding-bottom: 40px;
  }

  &:nth-child(4n+1) {
    background-color: $color-darkgold;
  }

  &:nth-child(4n+2) {
    background-color: $color-darkgold-alt;
  }

  &:nth-child(4n+3) {
    background-color: $color-gold;
  }

  &:nth-child(4n+4) {
    background-color: $color-lightgold;
  }


}


@media only screen and (min-width: $tablet-width) {

  .intro {
    padding: 70px 0;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-size: 195%;
    background-position: center 57%;
  }

  .intro__wrapper {


    &::before {
      top: 245px;
      right: 111px;
      @include size(372px, 451px);
      background-image: url("../img/traveller-illustration-tablet@1x.png");
    }
  }

  .intro__caption {
    font-size: 60px;
    line-height: 70px;
  }

  .intro__contacts {
    display: none;
  }

  .intro__review {
    max-width: 300px;
    margin-top: 87px;
    padding-left: 35px;

    &::before {
      display: none;
    }
  }

  .intro__review-text {
    font-size: 28px;
    line-height: 33px;
  }

  .intro__review-author {
    margin-top: 45px;
    font-size: 21px;
    line-height: 25px;

    br:not(:first-child) {
      display: none;
    }
  }

  .intro__steps {
    margin-top: 211px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .intro__steps-item {
    flex-wrap: wrap;
    margin: 0;
    padding: 31px 31px 28px;
    font-size: 24px;

    &::after {
      width: 100%;
      margin-top: 8px;
      font-size: 30px;
    }

    &:not(:last-child) {
      padding-bottom: 21px;
    }

    &:nth-child(2n) {
      flex-grow: 1;
      margin-left: -20px;
    }

    &:nth-child(4n+1) {
      width: 365px;
      border-radius: 20px 0 0 0;
    }

    &:nth-child(4n+2) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(4n+3) {
      width: 365px;
      border-radius: 0 0 0 20px;
    }

    &:nth-child(4n+4) {
      border-radius: 0 0 20px 20px;
    }
  }
}


@media only screen and (min-width: $desktop-width) {

  .intro {
    padding-top: 105px;
    padding-bottom: 123px;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-position: top;
    background-size: cover;
  }

  .intro__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::before {
      top: -95px;
      right: 404px;
      @include size(431px, 640px);
      background-image: url("../img/traveller-illustration-desktop@1x.png");
    }
  }

  .intro__caption {
    padding-left: 68px;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }

  .intro__contacts {
    display: none;
  }

  .intro__review {
    margin-top: 0;
    padding-left: 14px;
  }

  .intro__review-text {
    margin: 0;
    margin-top: 13px;
    font-size: 28px;
    line-height: 33px;
  }

  .intro__review-author {
    margin: 0;
    margin-top: 45px;
    font-size: 21px;
    line-height: 25px;
  }

  .intro__steps {
    margin-top: 105px;
    flex-direction: row;
    flex-wrap: initial;
    width: 100%;
  }

  .intro__steps-item {
    flex-grow: 1;
    padding: 27px 68px 32px 32px;
    border-radius: 20px;


    &::after {
      width: auto;
      margin-top: 0;
      font-size: 24px;
    }

    &:not(:nth-child(4n+1)) {
      margin-left: -35px;
    }

    &:nth-child(4n+1) {
      max-width: 350px;
      border-radius: 20px;
    }

    &:nth-child(4n+2) {
      border-radius: 20px;
    }

    &:nth-child(4n+3) {
      max-width: 380px;
      border-radius: 20px;
    }

    &:nth-child(4n+4) {
      max-width: 315px;
      // padding-right: 30px;
      border-radius: 20px;


      &::after {
        margin-right: -35px;
      }
    }
  }

}
