.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  display: none;
  flex-direction: column;
  padding: 40px 0;
  background-color: #ffffff;

  &--opened {
    display: flex;
    top: 50px;
  }
}

.nav__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 25px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  @include reset-list;
}

.nav__item {
  overflow: hidden;
}

.nav__link {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #192144;
  text-decoration: none;
  transition: transform 0.3s;

  &::after {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    color: $color-lightgold;
    transform: translate3d(0,0,0);
  }

  &:hover, &:focus {
    // color: $color-yellow;
    transform: translateY(-100%);
  }

  &:active {
    color: rgba($color-lightgold, 0.3);
  }

}

.nav__contacts {
  margin-top: 52px;
}

.nav__contacts-auth-btn {
  display: block;
  width: 100%;
  margin-bottom: 52px;
  padding: 13px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-dark-blue;
  background-color: $color-lightgold;

  &:hover {
    background-color: $color-gold;
  }

  &:active, &:focus {
    color: rgba($color-dark-blue, 0.3);
  }
}

.nav__contacts-link {
  display: flex;
  align-items: center;
  color: #192144;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__contacts-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;

  svg {
    @include size(18px);
    fill: $color-lightgold;
  }
}

.nav__contacts-link-text {
  margin-left: 16px;
}

.nav__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}

.nav__socials-link {
  @include hide-text;


  &--facebook {
    @include size(11px, 21px);
  }

  &--vk {
    @include size(23px, 12px);
  }

  &--instagram {
    @include size(18px);
  }


  &:not(:last-child) {
    margin-right: 25px;
  }
}




@media only screen and (min-width: $tablet-width) {

  .nav {
    padding: 90px 0 90px 55px;

    &--opened {
      top: 89px;
    }
  }

  .nav__wrapper {
    width: $tablet-width;
    padding: 0 40px;
  }

  .nav__list {
    align-items: start;
  }

  .nav__link {
    font-size: 60px;
    line-height: 71px;
  }

  .nav__contacts {
    margin-top: 135px;
  }

  .nav__contacts-auth-btn {
    display: none;
  }

  .nav__contacts-link {
    font-size: 28px;
  }

  .nav__contacts-link-icon {
    @include size(67px);

    svg {
      @include size(27px);
    }
  }
  .nav__contacts-link-text {
    margin-left: 25px;
  }

  .nav__socials {
    justify-content: flex-start;
    padding-left: 30px;
    margin-top: 130px;
  }

  .nav__socials-link {

    &--facebook {
      @include size(14px, 28px);
    }

    &--vk {
      @include size(31px, 16px);
    }

    &--instagram {
      @include size(24px);
    }


    &:not(:last-child) {
      margin-right: 34px;
    }
  }

}




@media only screen and (min-width: $desktop-width) {

  .nav {
    position: relative;
    display: flex;
    margin-left: 40px;
    padding: 0;
    background-color: transparent;
  }

  .nav__wrapper {
    width: auto;
    padding: initial;
  }

  .nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &::before {
      content: '';
      display: block;
      @include size(60px, 2px);
      margin-right: 45px;
      background-color: #ffffff;
    }
  }

  .nav__contacts,
  .nav__socials {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 36px;
  }

  .nav__link {
    font-size: 20px;
    color: #ffffff;
  }
}
