.no-js {
  &.header__wrapper {
    flex-wrap: wrap;
  }

  &.header__nav-btn {
    display: none;
  }

  &.nav {
    position: relative;
    top: 20px;
    display: flex;
    width: 100%;

    @media (min-width: 768px) {
      order: 1;
    }

    @media (min-width: 1440px) {
      top: auto;
      width: auto;
      order: 0;
    }
  }

  &.nav__wrapper {
    width: auto;
    padding: 0;
  }

  &.map {
    background-image: url("../img/map@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map@2x.jpg");
    }
  }
}
