.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 270px;
  display: none;
  border-radius: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: hidden;

  &--opened {
    display: block;
  }
}

.popup__wrapper {
  padding: 33px 25px;
}

.popup__caption {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: $color-darkgold;
}


.popup__table-list {
  @include reset-list;
}


.popup__item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid rgba(#000, 0.05);
  color: $color-grey;

  &:first-child {
    border-top: 1px solid rgba(#000, 0.05);
  }
}


.popup__close-btn {
  width: 100%;
  padding: 17px 0;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $color-dark-blue-slate;
  background-color: #f3f4f8;
  text-transform: uppercase;
}

@media only screen and (min-width: $tablet-width) {

  .popup {
    width: 100%;
    max-width: 688px;
    border-radius: 30px;
  }

  .popup__wrapper {
    padding: 52px 91px 51px;
  }

  .popup__caption {
    margin-bottom: 47px;
    font-size: 45px;
  }

  .popup__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }

  .popup__close-btn {
    padding: 42px 0;
    font-size: 24px;
    text-transform: initial;
  }
}
