.tariffs {
  position: relative;
  margin-top: -30px;
  padding-top: 79px;
  padding-bottom: 36px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: $color-light-blue;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    top: 65px;
    right: 25px;
    @include size(99px);
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
}

.tariffs__wrapper {
  padding-left: 50px;
}

.tariffs__caption {
  margin-bottom: 46px;
}

.tariffs__table {
  @include reset-list;
  counter-reset: tarrif-list;
}

.tariffs__table-item {
  position: relative;
  display: flex;
  margin-top: -1px;
  color: $color-grey;

  &::before {
    counter-increment: tarrif-list;
    content: counter(tarrif-list);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    order: 1;
    @include size(34px);
    margin-top: 6px;
    border-radius: 50%;
    color: #fff;
  }

  &--first::before {
    background-color: $color-darkgold-alt;
  }

  &--second::before {
    background-color: $color-gold;
  }

  &--third::before {
    background-color: $color-lightgold;
  }
}

.tariffs__table-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px 0;
  border-top: 1px solid #d8dae0;
  border-bottom: 1px solid #d8dae0;
}

.tariffs__btn {
  display: flex;
  align-items: center;
  margin-top: 29px;
  font-weight: 700;
  color: $color-dark-blue-alt;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.tariffs__btn-icon {
  display: none;
}


@media only screen and (min-width: $tablet-width) {

  .tariffs {
    margin-top: -60px;
    padding-top: 130px;
    padding-bottom: 65px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &::before {
      top: auto;
      bottom: 48px;
      right: 85px;
    }
  }

  .tariffs__wrapper {
    padding-left: 40px;
  }

  .tariffs__caption {
    margin-bottom: 78px;
    text-align: center;


    br {
      display: none;
    }
  }

  .tariffs__table {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: -45px;
      right: 0;
      @include size(198px, 285px);
      border-radius: 20px;
      background-color: #e2e5f2;
      z-index: -1;
    }
  }

  .tariffs__table-item {


    &::before {
      @include size(67px);
      margin-top: 0;
      order: 0;
      font-size: 28px;
    }
  }

  .tariffs__table-content {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 25px;
    font-size: 28px;
  }

  .tariffs__btn {
    margin-top: 32px;
    font-size: 20px;
    color: #132576;
  }

  .tariffs__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(67px);
    margin-right: 23px;
    border-radius: 50%;
    background-color: #e2e5f2;

    svg {
      @include size(17px, 21px);
      fill: #132576;
    }
  }
}


@media only screen and (min-width: $desktop-width) {

  .tariffs {
    padding-top: 160px;
    padding-bottom: 165px;

    &::before {
      top: 345px;
      right: 365px;
      bottom: auto;
      @include size(198px);
    }
  }

  .tariffs__wrapper {
    padding-left: 128px;
  }

  .tariffs__caption {
    margin-bottom: 141px;
    margin-left: -65px;
  }


  .tariffs__table {
    width: 943px;

    &::after {
      top: -53px;
      right: -124px;
      width: 444px;
      height: 300px;
    }
  }
}
