.companions-content {
  margin-top: 24px;
}


@media only screen and (min-width: $tablet-width) {
  .companions-content {
    margin-top: 48px;
  }

}

@media only screen and (min-width: $desktop-width) {

  .companions-content {
    margin-top: 77px;
  }

  .companions-content__wrapper {
    display: flex;
  }

}
