.step-route {
  padding: 22px 25px 14px 24px;
  border-radius: 10px;
  background-color: #ffffff;
}

.step-route__countries {
  margin-top: 22px;
}


.step-route__country {
  position: relative;

  @include reset-list;
  margin-bottom: 22px;

  &--selected {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    right: 50px;
    bottom: -15px;

    @include size(5px, 10px);
    background-image: url("../img/small-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
  }
}

.step-route__country-delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;

  @include size(21px);
  border: 0;
  border-radius: 50%;
  background-color: #edeff6;

  @include hide-text;
  cursor: pointer;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    @include size(9px);
    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }

  &--hide {
    display: none;
  }

  &:hover {
    &::before {
      opacity: 0.1;
    }
  }

  &:active {
    &::before {
      opacity: 0.05;
    }
  }
}

.step-route__country-name {
  position: relative;
  flex-grow: 1;
  margin-right: -1px;
  padding: 10px 14px 12px 11px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-slate;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, #ffffff 60%);
  }

  &--select {
    &::before {
      position: absolute;
      top: 50%;
      right: 50px;
      left: auto;

      @include size(8px);
      border: 1px solid #cbced9;
      border-radius: 50%;
      background-color: #ffffff;
      background-image: none;
      transform: translateY(-50%);
    }
  }

  &--show-dropdown {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #ffffff;
    background-color: $color-dark-blue-slate;

    &::before {
      display: none;
    }
  }

  &:hover {
    border-color: #959bb2;
  }

  &:hover .step-route__icon {
    opacity: 0.5;
  }

  &:hover .step-route__icon--dropdown {
    opacity: 1;
  }

  &:active .step-route__icon--dropdown {
    opacity: 0.1;
  }
}

.step-route__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba($color-dark-blue-slate, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  z-index: 20;

  &--hide {
    display: none;
  }
}

.step-route__dropdown-letters {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;
  margin-left: 1px;
}

.step-route__dropdown-letters-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  @include size(20%, 42px);
  margin-top: -1px;
  margin-left: -1px;
}

.step-route__dropdown-letters-link {
  display: flex;
  align-items: center;
  justify-content: center;

  @include size(100%);
  border: 1px solid #cbced9;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-slate;
  text-decoration: none;

  &--active {
    background-color: #edeff6;
  }

  &:hover {
    position: relative;
    border-color: #959bb2;
    z-index: 10;
  }

  &:active {
    color: #ffffff;
    background-color: $color-dark-blue-slate;
  }
}

.step-route__dropdown-countries {
  @include reset-list;
  margin-top: -1px;
  padding: 12px 20px 15px 20px;
  border: 1px solid #cbced9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.step-route__dropdown-countries-link {
  font-size: 16px;
  line-height: 22px;
  color: $color-grey;
  text-decoration: none;

  &:hover {
    color: $color-dark-blue-slate;
  }

  &:active {
    color: rgba($color-dark-blue-slate, 0.3);
  }
}


.step-route__country-flag {
  position: relative;

  @include hide-text;
  width: 53px;
  padding: 14px 24px;
  border: 1px solid #cbced9;
  border-radius: 4px;


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    @include size(35px, 24px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;

    @include size(8px);
    border-radius: 50%;
    background-color: $color-dark-blue-slate;
    transform: translateY(-50%);
    z-index: 2;
  }

  &--bosnia {
    &::before {
      background-image: url("../img/flag-bosnia.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.svg");
    }
  }
}

.step-route__add-county {
  position: relative;
  width: 100%;
  margin-bottom: 3px;
  padding: 12px 14px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-slate;
  background-color: #edeff6;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50px;

    @include size(8px);
    border: 1px solid #cbced9;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: #dfe3f0;
  }

  &:hover .step-route__icon {
    opacity: 0.3;
  }

  &:active {
    color: rgba($color-dark-blue-slate, 0.3);
  }

  &:active .step-route__icon {
    opacity: 0.1;
  }
}


.step-route__icon {
  position: absolute;
  top: 50%;
  right: 14px;

  @include size(12px, 7px);
  background-image: url("../img/dropdown-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.3;
  cursor: pointer;

  &--add {
    @include size(14px);
    background-image: url("../img/qty-plus.svg");
  }

  &--dropdown {
    @include size(9px);
    background-image: url("../img/small-cross-white.svg");
    opacity: 0.3;
  }
}


@media only screen and (min-width: $tablet-width) {
  .step-route {
    padding: 45px 43px 55px 43px;
    border-radius: 30px;
  }

  .step-route__countries {
    position: relative;
    margin-top: 35px;
    padding-top: 40px;
    border-top: 1px solid #d6d9e6;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -80px;
      left: 0;
      width: 100%;
      height: 130px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #ffffff 100%);
      z-index: 5;
      pointer-events: none;
    }
  }

  .step-route__country {
    margin-bottom: 15px;

    &::after {
      display: none;
    }

    &--selected {
      align-items: center;
    }

    &--new {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .step-route__country-name {
    max-width: 369px;
    padding: 25px 14px 25px 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    overflow: initial;

    &::after {
      content: "";
      position: absolute;
      top: -42px;
      right: -28px;
      width: 1px;
      height: 250px;
      background-color: #d6d9e6;
    }

    &--select {
      &::before {
        right: -35px;

        @include size(15px);
        z-index: 10;
      }
    }
  }

  .step-route__dropdown {
    top: 70px;
    right: -44px;
    flex-direction: row;
    padding: 34px 26px 38px 27px;
  }

  .step-route__dropdown-letters {
    max-width: 270px;
    align-content: start;
  }

  .step-route__dropdown-letters-item {
    flex-grow: 0;

    @include size(53px, 70px);
  }

  .step-route__dropdown-letters-link {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .step-route__dropdown-countries {
    margin-left: auto;
    padding: 0;
    border-color: #ffffff;
  }

  .step-route__dropdown-countries-item {
    margin-bottom: 8px;
  }

  .step-route__dropdown-countries-link {
    font-size: 20px;
    line-height: 18px;
  }

  .step-route__country-flag {
    width: auto;
    margin-left: 90px;
    padding: 0;
    border: 0;

    &::before {
      @include size(70px, 47px);
    }

    &::after {
      left: -70px;

      @include size(15px);
    }
  }

  .step-route__country-delete {
    margin-left: auto;
  }

  .step-route__country-delete-btn {
    position: relative;
    top: auto;
    right: auto;
    background-color: transparent;


    &::before {
      @include size(17px);
      opacity: 0.1;
    }

    &:hover {
      &::before {
        opacity: 0.3;
      }
    }

    &:active {
      &::before {
        opacity: 0.05;
      }
    }
  }

  .step-route__add-county {
    max-width: 369px;
    padding: 25px 14px 25px 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;

    &::before {
      @include size(15px);
      right: -34px;
      background-color: #edeff6;
      z-index: 10;
    }
  }

  .step-route__icon {
    right: 26px;

    @include size(17px, 9px);

    &--add {
      @include size(20px);
    }

    &--dropdown {
      @include size(17px);
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .step-route {
    padding: 94px 160px 104px 160px;
    border-radius: 60px;
  }

  .step-route__countries {
    margin-top: 56px;
    padding-top: 62px;

    &::after {
      bottom: -130px;
    }
  }

  .step-route__country-name {
    max-width: 730px;

    &::after {
      top: -64px;
      right: -46px;
      height: 340px;
    }

    &--select {
      &::before {
        right: -53px;
      }
    }
  }

  .step-route__country-flag {
    margin-left: 121px;

    &::after {
      left: -83px;
    }
  }

  .step-route__add-county {
    max-width: 730px;
    margin-bottom: 0;

    &::before {
      right: -52px;
    }
  }

  .step-route__country-delete {
    margin-top: -10px;
    margin-right: 5px;
    margin-left: auto;
  }

  .step-route__dropdown {
    max-width: 730px;
    padding-right: 60px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 240px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: #d6d9e6;
    }
  }

  .step-route__dropdown-letters {
    max-width: 370px;
  }

  .step-route__dropdown-letters-item {
    @include size(60px, 70px);
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .step-route__dropdown-letters-link {
    border-radius: 4px;
  }
}
