@mixin size($width: auto, $height: $width) {
  width: $width;
  height: $height;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-face($name, $file-name, $style, $weight) {
  @font-face {
      font-family: "#{$name}";
      src:    url("../fonts/#{$file-name}.woff2") format("woff2"),
              url("../fonts/#{$file-name}.woff") format("woff"),
              local("#{$file-name}");
      font-style: $style;
      font-weight: $weight;
      font-display: swap;
  }
}


@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


@mixin hide-text {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}

@mixin show-text {
  font-size: initial;
  color: initial;
  text-shadow: initial;
  border: initial;
}
