footer.footer
  .wrapper
    a.footer__logo.site-logo(href='index.html') Погнали?
    .footer__socials
      a.footer__socials-item.footer__socials-item--facebook(href='https://facebook.com')
      a.footer__socials-item.footer__socials-item--vk(href='https://vk.com')
      a.footer__socials-item.footer__socials-item--instagram(href='https://instagram.com')
    .footer__developer
      p Разработано
        a(href='https://htmlacademy.ru', target='_blank')
          img(src='img/htmlacademy.svg', alt='Логотип Html Academy', width='27', height='34')
