footer.footer
  .wrapper
    .footer__content
      if indexLink
        a.footer__logo(href="index.html")
          +responsive-images("img/logo-mobile-blue", "img/logo-tablet-blue", "img/logo-desktop-blue", 100, 19,"Логотип Погнали", "footer__logo-img")
      else
        a.footer__logo(href="")
          +responsive-images("img/logo-mobile-blue", "img/logo-tablet-blue", "img/logo-desktop-blue", 100, 19,"Логотип Погнали", "footer__logo-img")

      .footer__socials
        a.footer__socials-link.footer__socials-link--facebook(href="https://facebook.com")
          +svg-icon("facebook", 11, 21)

        a.footer__socials-link.footer__socials-link--vk(href="https://vk.com")
          +svg-icon("vk", 23, 12)

        a.footer__socials-link.footer__socials-link--instagram(href="https://instagram.com")
          +svg-icon("instagram", 18, 18)

      .footer__developer
        a.footer__developer-link(href="https://htmlacademy.ru/intensive/adaptive", target="_blank")
          span.footer__developer-text Разработано
          span.footer__developer-logo
            +svg-icon("htmlacademy", 23, 12)


