header(class=(pageHeader ? "header header--page" : "header"))
  .wrapper.header__wrapper.no-js
    if indexLink
      a.header__logo(href="index.html")
        +responsive-logo-image("img/logo-mobile-white", "img/logo-tablet-white", "img/logo-desktop-white", 100, 19,"Логотип Погнали", "header__logo-img", "header__logo-white")
        +responsive-logo-image("img/logo-mobile-blue", "img/logo-tablet-blue", "img/logo-desktop-blue", 100, 19,"Логотип Погнали", "header__logo-img", "header__logo-blue")
    else
      a.header__logo(href="")
        +responsive-logo-image("img/logo-mobile-white", "img/logo-tablet-white", "img/logo-desktop-white", 100, 19,"Логотип Погнали", "header__logo-img", "header__logo-white")
        +responsive-logo-image("img/logo-mobile-blue", "img/logo-tablet-blue", "img/logo-desktop-blue", 100, 19,"Логотип Погнали", "header__logo-img", "header__logo-blue")

    button.header__nav-btn.no-js(type='button') Мобильная навигация

    nav.nav.no-js
      .nav__wrapper.no-js
        ul.nav__list
          li.nav__item
            a.nav__link(href='#' data-hover='О сервисе') О сервисе
          li.nav__item
            a.nav__link(href='form.html' data-hover='Направления') Направления
          li.nav__item
            a.nav__link(href='catalog.html' data-hover='Попутчики') Попутчики

        .nav__contacts
          a.nav__contacts-auth-btn(href='#') Авторизация
          a.nav__contacts-link(href='tel:88005558628')
            span.nav__contacts-link-icon
              +svg-icon("contacts-phone", 18, 18)
            span.nav__contacts-link-text 8 800 555-86-28

          a.nav__contacts-link(href='mailto:mail@htmlacademy.ru')
            span.nav__contacts-link-icon
              +svg-icon("contacts-mail", 18, 13)
            span.nav__contacts-link-text mail@htmlacademy.ru

        .nav__socials
          a.nav__socials-link.nav__socials-link--facebook(href='https://facebook.com') Facebook
            +svg-icon("facebook", 11, 21)

          a.nav__socials-link.nav__socials-link--vk(href='https://vk.com') VK
            +svg-icon("vk", 23, 12)

          a.nav__socials-link.nav__socials-link--instagram(href='https://instagram.com') Instagram
            +svg-icon("instagram", 18, 18)

    .header__contacts
      a.header__contacts-item(href='mailto:mail@htmlacademy.ru')
        span.header__contacts-item-icon
          +svg-icon("topmenu-phone", 18, 18)
        span.header__contacts-item-text  mail@htmlacademy.ru

      a.header__contacts-item(href='tel:88005558628')
        span.header__contacts-item-icon
          +svg-icon("topmenu-mail", 18, 14)
        span.header__contacts-item-text  8 800 555-86-28

      a.header__contacts-btn(href="#") Авторизация


