header.header
  .wrapper
    a.logo(href='index.html') Погнали?

    nav.nav
      button.nav__toggle(type='button') Мобильная навигация
      ul.nav__list
        li.nav__item
          a(href='#') О сервисе
        li.nav__item
          a(href='#') Направления
        li.nav__item
          a(href='#') Попутчики

      a.btn.btn--auth-header(href='#') Авторизация

      .nav__contacts.contacts
        a.contacts__phone(href='tel:88005558628') 8 800 555-86-28
        a.contacts__email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru

      .nav__socials.socials
        a.socials__item.socials__item--facebook(href='https://facebook.com') Facebook
        a.socials__item.socials__item--vk(href='https://vk.com') VK
        a.socials__item.socials__item--instagram(href='https://instagram.com') Instagram

    .header__contacts.header-contacts
      a.header-contacts__phone(href='tel:88005558628') 8 800 555-86-28
      a.header-contacts__email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru
      a.btn.btn--auth-header(href="#") Авторизация

    .header__text
      h1.header__caption В путешествие с крутыми попутчиками!
      .header__review
        p.header__review-text «Лучшее приложение, что я видел в жизни!»
        p.header__review-author
          | Мурат Эльтазин
          br
          | главный редактор
          br
          | газеты «гаджетлайф»

    ol.header__steps.steps
      li.steps__item.steps__item--first Выберите направление
      li.steps__item.steps__item--second Изучите идеи путешественников
      li.steps__item.steps__item--third Находите тех, кто похож на вас
      li.steps__item.steps__item--fourth Путешествуйте вместе!
