section.page-title
  .wrapper.page-title__wrapper
    h3.page-title__caption #{pageCaption}
    a(class=(backToHome ? "page-title__back-to-home" : "page-title__back-to-home visually-hidden") href='index.html') На главную

