header.header
  .wrapper
    a.logo(href='index.html') Погнали?

    nav.nav
      button.nav__toggle(type='button') Мобильная навигация
      ul.nav__list
        li.nav__item
          a(href='#') О сервисе
        li.nav__item
          a(href='#') Направления
        li.nav__item
          a(href='#') Попутчики

      a.btn.btn--auth-header(href='#') Авторизация

      .nav__contacts.contacts
        a.contacts__phone(href='tel:88005558628') 8 800 555-86-28
        a.contacts__email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru

      .nav__socials.socials
        a.socials__item.socials__item--facebook(href='https://facebook.com') Facebook
        a.socials__item.socials__item--vk(href='https://vk.com') VK
        a.socials__item.socials__item--instagram(href='https://instagram.com') Instagram

    .header__contacts.header-contacts
      a.header-contacts__phone(href='tel:88005558628') 8 800 555-86-28
      a.header-contacts__email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru
      a.btn.btn--auth-header(href="#") Авторизация

    .header__page-caption.page-caption
      h3.page-caption__text #{pageTitle}
      a.page-caption__back-to-home(href='index.html') На главную


