section.intro
  .wrapper.intro__wrapper
    h2.intro__caption
      | В путешествие
      br
      | с крутыми
      br
      | попутчиками!

    .intro__contacts
      a.intro__contacts-item(href="mailto:mail@htmlacademy.ru")
        span.intro__contacts-item-icon
          +svg-icon("topmenu-phone", 18, 18)
        span.intro__contacts-item-text  mail@htmlacademy.ru

      a.intro__contacts-item(href="tel:88005558628")
        span.intro__contacts-item-icon
          +svg-icon("topmenu-mail", 18, 14)
        span.intro__contacts-item-text  8 800 555-86-28

      a.intro__contacts-btn(href="#") Авторизация

    .intro__review
      p.intro__review-text
        | «Лучшее приложение,
        br
        | что я видел в жизни!»

      p.intro__review-author
        | Мурат Эльтазин
        br
        | главный редактор
        br
        | газеты «гаджетлайф»

    ol.intro__steps
      li.intro__steps-item
        | Выберите
        br
        | направление
      li.intro__steps-item
        | Изучите идеи
        br
        | путешественников
      li.intro__steps-item
        | Находите тех,
        br
        | кто похож на вас
      li.intro__steps-item
        | Путешествуйте
        br
        | вместе!

