section.service
  .wrapper
    h2.service__title О сервисе
    p.service__description Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
    p.service__tagline А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
    a.btn.btn--section(href='#') Подробнее
