section.service
  .wrapper.service__wrapper
    .service__content
      h2.section-caption.service__caption О сервисе
      p.service__description
        | Любое путешествие веселее
        br
        | с попутчиками, которые на
        br
        | одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
      p.service__tagline А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
      a.section-btn.service__btn(href='#') Подробнее

