section.destanation
  .wrapper.destanation__wrapper
    .destanation__content
      h2.section-caption.destanation__caption Направления
      p.destanation__description
        | Мы не продаем туры
        br
        | и ничего не рекламируем.
        br
        | Люди сами пишут о странах,
        br
        | куда хотели бы отправиться
        br
        | и чем можно там заняться.

    //- destination-card(country, description, people, modificator, imageLink='link')
      Если нет ссылки на изображение, будет использоваться ссылка по умолчанию https://via.placeholder.com/186x140

      @String country
      @String description
      @Number people
      @String modificator
      @String image Link Mobile
      @String image Link Tablet
      @String image Link Desktop

    .destanation__cards
      +destination-card('Таиланд', 'Джунгли зовут!', 18321, 'thailand', 'img/thailand-mobile', 'img/thailand-desktop', 'img/thailand-desktop')
      +destination-card('Франция', 'Трэ бьен, манифик!', 12518, 'france', 'img/france-mobile', 'img/france-desktop', 'img/france-desktop')
      +destination-card('Чехия', 'Закоулки старой Европы', 5326, 'czech', 'img/czech-mobile', 'img/czech-desktop', 'img/czech-desktop')

    a.section-btn.destanation__btn(href='form.html') Показать все

