section.tariffs
  .wrapper

    h2.tariffs__title Добавьте свой профиль

    ol.tariffs-table
      li.tariffs-table__item.tariffs-table__item--first
          p.tariffs-table__title Базовое размещение
          p.tariffs-table__cost Беслпатно

      li.tariffs-table__item.tariffs-table__item--second
          p.tariffs-table__title Вывод на первых позициях
          p.tariffs-table__cost 99 руб./мес

      li.tariffs-table__item.tariffs-table__item--third
          p.tariffs-table__title Кастомный цвет карточки
          p.tariffs-table__cost 59 руб./мес

    a.tariffs__btn(type='button') Показать тарифы для бизнеса
