section.tariffs
  .wrapper.tariffs__wrapper
    h2.section-caption.tariffs__caption
      | Добавьте
      br
      | свой
      br
      | профиль

    ol.tariffs__table
      li.tariffs__table-item.tariffs__table-item--first
        .tariffs__table-content
          span.tariffs__table-tarrif-name Базовое размещение
          span.tariffs__table-price Бесплатно

      li.tariffs__table-item.tariffs__table-item--second
        .tariffs__table-content
          span.tariffs__table-tarrif-name Вывод на первых позициях
          span.tariffs__table-price 99 руб./мес

      li.tariffs__table-item.tariffs__table-item--third
        .tariffs__table-content
          span.tariffs__table-tarrif-name Кастомный цвет карточки
          span.tariffs__table-price 59 руб./мес

    a.tariffs__btn(href="tariffs.html")
      span.tariffs__btn-icon
        +svg-icon("business", 17, 21)

      span.tariffs__btn-text Показать тарифы для бизнеса

