section.registration
  .wrapper.registration__wrapper
    h2.section-caption.registration__caption Заинтересовались?
    p.registration__description
      | Зарегистрируйтесь,
      br
      | это быстро и бесплатно!
      br
      | Уже зарегистрированы? Тогда
      br
      | скорее <a href="auth.html">авторизуйтесь</a>.

    form.registration__form(action="https://echo.htmlacademy.ru" method="POST")
      input.registration__email(type="text", name="email", placeholder="E-mail")
      button.registration__form-btn(type="submit") Регистрация

    p.registration__tagline
      | Остались вопросы?
      br
      | Мы с радостью на них ответим!


    .registration__contacts
      a.registration__contacts-link(href="tel:88005558628")
        span.registration__contacts-link-icon
          +svg-icon("contacts-phone", 18, 18)
        span.registration__contacts-link-text 8 800 555-86-28

      a.registration__contacts-link(href="mailto:mail@htmlacademy.ru")
        span.registration__contacts-link-icon
          +svg-icon("contacts-mail", 18, 13)
        span.registration__contacts-link-text mail@htmlacademy.ru

