section.registration
  h2.registration__title Заинтересовались?
  p.registration__description Зарегистрируйтесь, это быстро и бесплатно! Уже зарегистрированы? Тогда скорее
    a(href='#') авторизуйтесь.

    form.registration__form(action='https://echo.htmlacademy.ru')
      .registration__input
        input#email(type='text', name='email', placeholder='Email')
      button.btn.btn--registration(type='submit') Регистрация

  p.registration__tagline Остались вопросы? Мы с радостью на них ответим!

  .registration__contacts
    a.registration__contacts-phone(href='tel:88005558628') 8 800 555-86-28
    a.registration__contacts-email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru
