section.map
  .map__inner
    p.map__address ул. Большая Конюшенная, 19/8
    a.btn.btn--map(href='#') Проложить маршрут
  .map__location
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5d48360a1aa9330e3435ffa551a84c7634174fb4f1d1df1b5f36de397abc300f&width=100%25&height=720&lang=ru_RU&scroll=true')
