section.route
  .wrapper.route__wrapper
    h5.visually-hidden Проложить маршрут
    .route__content
      a.route__address(href="#")
        span.route__address-icon
          +svg-icon("contacts-location", 14, 22)
        span.route__address-text
        | ул. Большая
        br
        |  Конюшенная, 19/8

      a.section-btn.section-btn--outline.route__btn(href="https://yandex.ru/maps/10335/tashkent/?ll=69.304911%2C41.312012&mode=routes&rtext=41.312110%2C69.332752~41.312650%2C69.279087&rtt=auto&ruri=~&z=14.4" target="_blank") Проложить маршрут

