section.map
  h5.visually-hidden Карта
  .map__location
      script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab39ee2d8f9728237d10dc5fbdeac3d0f7cfec4779c16284b738645571ccf069f&width=100%25&height=720&lang=ru_RU&scroll=true')

