.popup.tariffs__popup
  .popup__wrapper
    header.popup__caption Бизнес-тарифы
    ul.popup__table-list
      li.popup__item
        span.popup__service Реклама у блоггера
        span.popup__price 300 000 руб./пост
      li.popup__item
        span.popup__service Накрутка подписчиков
        span.popup__price от 1 руб./шт.
      li.popup__item
        span.popup__service Лайки от ботов
        span.popup__price от 20 коп./лайк
      li.popup__item
        span.popup__service Ваш продакт-плейсмент
        span.popup__price Индивидуально
  button.popup__close-btn(type="button") Закрыть окно

